<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="interface">

<div class="display-container">

  <div class="binary-display">
	<div class="binary-item" id="mt8"></div>
	<div class="binary-item" id="mo8"></div>
	<div class="binary-item" id="st8"></div>
	<div class="binary-item" id="so8"></div>
	<div class="binary-item" id="d8"></div>

	<div class="binary-item" id="mt4"></div>
	<div class="binary-item" id="mo4"></div>
	<div class="binary-item" id="st4"></div>
	<div class="binary-item" id="so4"></div>
	<div class="binary-item" id="d4"></div>

	<div class="binary-item" id="mt2"></div>
	<div class="binary-item" id="mo2"></div>
	<div class="binary-item" id="st2"></div>
	<div class="binary-item" id="so2"></div>
	<div class="binary-item" id="d2"></div>

	<div class="binary-item" id="mt1"></div>
	<div class="binary-item" id="mo1"></div>
	<div class="binary-item" id="st1"></div>
	<div class="binary-item" id="so1"></div>
	<div class="binary-item" id="d1"></div>

  </div>

  <div class="timer-display">
	00:00.0
  </div>

</div>

<div class="settings">
  <form class="setting-options">

	<button type="button" class="toggle-timer" name="toggle-timer">Start</button>
	<button type="button" class="reset-timer" name="reset-timer">Reset</button>

  </form>
</div>

</div>
    <script src="../js/index.js"></script>
</body>
</html>